@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;800&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}

.split-white {
    border-left: 2px solid #F9F9F9;
    height: 100%;
    padding-left: 10px;
    margin-left: 10px;
}

/* Header */
header {
    background-color: #1B2430;
    color: #F9F9F9;
    position: fixed;
    height: 100%;
}

header nav {
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0px;
}

header nav ul li {
    padding: 15px 0;
    font-weight: 400; 
}

header nav ul li a {
    display: flex;
    align-items:center;
}

header nav ul li a span {
    padding: 0 10px;
}

header nav ul li a img {
    width: 20px;
    height: 20px;
}

.brand {
    font-weight: 800;
}